<div class="buffer-bottom">
  <p><%= comment.body %></p>
  <p>
    <div class="col-md-5 psn-rltv text-left">
      <% if comment.user.present? %>
        <%= render partial: "users/user", object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    <div class="text-left"><%= l comment.created_at, format: :short %></div>
      <% if current_user_can_edit?(comment) %>
        <%= button_to event_comment_path(comment.event, comment),
        method: :delete,
        data: { confirm: t("subscriptions.subscription.destroy_confirm"), 
        turbo_confirm: t("subscriptions.subscription.destroy_confirm") }, 
        class: "btn btn-outline-danger position-absolute top-50 start-100 translate-middle bi bi-x-circle-fill" do %>
        <% end %>
      <% end %>
    </div>
  </p>
</div>
