<div class="flx-dspl col-sm-6 col-md-4 mt-3">
  <div class="flx-dspl psn-rltv thumbnail">

    <%= content_tag "div", "", class: "event-background rounded",
      style: "background-image: url(#{asset_path("event_thumb.jpg")})" %>

    <div class="wdh-fteen-prc thumbnail-inner event-info-inner text-center rounded">
      <div class="caption">
        <div class="event-description m-3">
          <h3><%= link_to event.title, event_path(event) %></h3>
          <h3><small><%= l event.datetime, format: :short %></small></h3>
          <div class="buffer-both"><%= event.address %></div>
        </div>
        <div class="mb-3">
          <% event.visitors.each do |user| %>
            <%= image_tag user_avatar_thumb(user), class: "sz-small rounded-circle", title: user.name %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
