<h1><%= t("events.event.need_pincode") %></h1>

<div class="col-lg-9">
  <%= form_with data: { turbo: false } do %>
    <div class="form-group mt-3">
      <%= label_tag :pincode, t("activerecord.attributes.event.pincode") %>
      <%= text_field_tag :pincode, params[:pincode], class: "form-control" %>
    </div>

    <div class="actions buffer-bottom mt-3 mb-3">
      <%= submit_tag(t("button.sign_in"), class: "btn btn-primary") %>
    </div>
  <% end %>

  <%= link_to t("link.main"), events_path %>
</div>
