<!DOCTYPE html>
<html>
  <head>
    <title>BbqSecond</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <p class="fs-1"><%= link_to "BBQ!", root_path %></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <% if flash[:notice].present? %>
            <div class="alert alert-success" role="alert">
            <button type="button" class="btn-close btn-outline-secondary" data-bs-dismiss="alert" aria-label="close"></button>
              <%= flash[:notice] %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer class="mt-5">
        <p>&copy; Company 2023</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
