<!DOCTYPE html>
<html>
  <head>
    <title>BbqSecond</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <%= link_to t("app.name"), root_path, class: "display-4" %>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <% if user_signed_in? %>
            <%= button_to t("events.event.new"), new_event_path, method: :get, class: 'btn btn-success' %>
            <%= button_to t("button.profile"), current_user, method: :get, class: "btn btn-outline-primary", type: "button" %>
            <%= button_to t("button.sign_out"), destroy_user_session_path, method: :delete, class: "btn btn-outline-danger",  type: "button" %>
          <% else %>
            <%= button_to t("button.sign_in"), new_user_session_path, class: "btn btn-outline-primary", type: "button" %>
            <%= button_to t("button.registration"), new_user_registration_path, method: :get, class: "btn btn-outline-success", type: "button" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <% if flash[:notice].present? %>
            <div class="alert alert-success" role="alert">
              <%= flash[:notice] %>
              <div class="position-absolute top-0 start-100 translate-middle">
                <i type="button" class="bi bi-x-circle-fill" data-bs-dismiss="alert" aria-label="close"></i>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= yield %>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-9 mt-5">
          <p>&copy; <%= t("app.company") %> 2023</p>
        </div>
      </div>
    </div>
  </body>
</html>
